### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

### Go Patch ###
/vendor/
/Godeps/

# Ignore OS X metadata files
._*
.DS_Store

.idea/
self_signed/
trusted_roots/
fed4fire
